body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d40000;
  position: relative;
  box-shadow: inset 10px 10px 300px rgba(0,0,0,0.8);
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 5em;
  transition: all 0.3;
  position: relative;
  color: rgba(255, 0, 0, 0.7);
  z-index: 2;
  text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.block {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.8);
}